

.container
  background: #55b52c
  width: 1000px!important
  height: 570px!important
  padding: 20px
  color: #f1ffdc

.education
  padding: 8px
  border-radius: 8px
  background: #55b52c
  box-shadow:  -7px 7px 14px #224812, 7px -7px 14px #88ff46
  margin: 15px
  h4
    color: #f1ffdc
    text-align: center

.level
  width: 200px
  border-radius: 8px
  background: #55b52c
  box-shadow:  -7px 7px 14px #224812, 7px -7px 14px #88ff46
  margin: 15px
  padding: 10px
  h4
    color: #f1ffdc
    text-align: center


.themes
  width: 200px
  border-radius: 8px
  background: #55b52c
  box-shadow:  -7px 7px 14px #224812, 7px -7px 14px #88ff46
  margin: 15px
  text-align: left
  padding: 0px 0px 0px 10px
  .col-md-8
    margin: 0!important
    padding: 0!important
  .col-md-3
    padding-top: 42px
    .theme-checkbox
      margin-bottom: 17px



.numbers
  display: flex
  flex-direction: row
  border-radius: 8px
  background: #f1ffdc
  box-shadow:  -7px 7px 14px #224812, 7px -7px 14px #88ff46
  margin: 10px
  padding: 10px
  .one
    
  li
    border-radius: 5px
    background: #55b52c
    box-shadow: inset -7px 7px 14px #224812, inset 7px -7px 14px #88ff46
    margin: 0px 30px 0px 0px
    width: 27px
    text-align: center
.main
  width: 697px
  height: 465px
  border-radius: 8px
  background: #f1ffdc
  box-shadow:  -7px 7px 14px #224812, 7px -7px 14px #88ff46
  margin: 10px
  color: #224812
.levelnumber
  border-radius: 8px
  background: #55b52c
  box-shadow: inset -5px 5px 15px #224812, inset 5px -5px 15px #88ff46
  padding: 10px 10px 0px 10px
  h4
    border-radius: 8px
    background: #55b52c
    box-shadow:  -7px 7px 20px #224812, 7px -7px 20px #88ff46
    text-align: center


